/* Импорты стилей */
@import "../css/theme.css" all;
@import "../select/select.css" all;
/* Импорты стилей */
.offer{
    position: relative;
}
.offer::before{
    content: '';
    position: absolute;
    background: url(../img/vector.svg) no-repeat center;
    background-position: center;
    width: 680px;
    left: -288px;
    right: 0;
    margin: 0 auto;
    bottom: -241px;
    height: 782px;
}
.offer-inner{
    position: relative;
    margin-top: 167px;
}
.offer-info{
    width: 478px;
    margin-bottom: 119px;
}
.offer-image{
    width: 481px;
    position: absolute;
    right: 16px;
    bottom: -161px;
}
.offer-image img{
    width: 100%;
}
.offer-description{
    font-size: 20px;
    line-height: 28px;
}
/* Стили для шагов формы */
.form-text{
    font-family: 'TT Hoves';
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 100%;
}
.step-form{
    margin-top: auto;
    padding: 30px 0;
}
.step-form__wrapper{
    background: #FFFFFF;
    border-radius: 40px;
    padding: 40px;
}
.slide-indicators{
    background: rgba(210, 212, 216, 0.14);
    border-radius: 24px;
    padding: 28px 16px;
    margin-bottom: 50px;
    overflow: hidden;
}
.indicator-bullet{
    border: 6px solid transparent;
    border-radius: 100%;
    background: #7E7E80;
    color: #D2D4D8;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-right: 12px;
    padding: 4px;
    position: relative;
}
.indicator-item{
    position: relative;
    margin: 0 10px;
}
.indicator-item.active{
    color: #FF0A33;
}
.indicator-item.active .indicator-bullet{
    border: 6px solid rgb(255 159 175);
    background: #FF0A33;
    color: #fff;
}
.indicator-line{
    width: 100%;
    height: 2px;
    border-top: 2px dotted #c2c2c2;
    background: transparent;
    flex: 1;
}
.indicator-line.active{
    transform: scaleX(0);
    transform-origin: left;
    border-top: none;
    background: rgb(255 10 51);;
    animation: animate 0.3s linear forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.indicator-item{
    position: relative;
}
.indicator-item.active{
    color: #FF0A33;
}
.step-form__content{
    text-align: center;
}
.step-form__content.hide{
    display: none;
}
.ages{
    width: 100%;
}
.age-list{
    margin-top: 16px;
}
.border-item.active{
    background: #FF0A33;
    color: #fff;
}
.border-item.while{
    background: rgba(210, 212, 216, 0.14);
    color: #D2D4D8;
}
.border-item.active .item-check path{
    fill: red;
}
.border-item.active .item-close{
    display: block;
}
.border-item.active .label-content{
    margin-left: auto;
}
.border-item.active .item-check{
    display: flex;
}
.item-close{
    width: 24px;
    height: 24px;
    color: #fff;
    background: #FFFFFF;
    border-radius: 19.2px;
    margin-left: 11px;
    color: #FF0A33;
    display: none;
    cursor: pointer;
}
.item-check{
    display: none;
    margin-right: 8px;
}
.floor{
    margin-top: 53px;
}
.floor-items{
    margin-top: 20px;
}
.floor-item{
    padding: 16px;
    max-width: 200px;
    margin-right: 10px;
    border-radius: 24px;
    border-radius: 28px;
    border: 1px solid rgba(210, 212, 216, 0.6);
    cursor: pointer;
    display: block;
}
.floor-item.active{
    background: #FF0A33;
    color: #fff;
}
.floor-item__img{
    width: 100%;
    height: 100px;
    border-radius: 12px;
    border-radius: 15px;
    background: #8A877A;
}
.img-2{
    background: #B2BECE;
}
.floor-item__img img{
    width: 100%;
    height: 100%;
}
.floor-item__floo-name{
    margin-top: 16px;
}
.form-send{
    border-top: 1px solid rgba(210, 212, 216, 0.6);
    padding-top: 40px;
    width: 100%;
    margin-top: 56px;
}
.send-format{
    margin-top: 0;
}
.button-step__border{
    border: 1px solid rgba(210, 212, 216, 0.6);
    background: transparent;
    color: #7E7E80;
}
.button-step{
    opacity: 0.5;
    border-radius: 32px;
    padding: 14px 32px;
    font-size: 22px;
}
.step-next{
    margin-left: auto;
}
.button-step__background{
    color: #fff;
    background: #19191A;
}
.button-step.active{
    opacity: 1;
    color: #ffff;
    background: #19191A;
}
.purposes{
    margin-top: 50px;
}
.purposes-toggle{
    padding-top: 16px;

}
.step-content__wrap{
    width: 100%;
}
.toggle{
    display: none;
    background: rgba(210, 212, 216, 0.14);
    border-radius: 24px;
    padding: 32px;
    width: 100%;
    min-height: 228px;
    margin: 56px 0;
}
.toggle.active{
    display: block !important;
}
.purposes .border-item{
    margin-right: 8px;
    margin-left: 8px;
}
.trainig-items .border-item{
    margin-right: 8px;
    margin-left: 8px;
}
.border-item{
    border: 1px solid rgba(210, 212, 216, 0.6);
    border-radius: 48px;
    padding: 16px;
    height: 60px;
    color: #7E7E80;
    cursor: pointer;
    background: transparent;
    min-width: 134px;
    max-width: fit-content;
    margin-bottom:  16px;
}
.trainig-format{
    margin-top: 16px;
}
.trainig-items{
    margin-top: 16px;
    width: fit-content;
    margin: 0 auto;
}
.trainig-format .border-item{
    padding: 14px;
    margin-right: 8px;
}
.trainig-format .border-item.active .item-check{
    background: #fff;
}
.trainig-format .border-item.active .item-check svg{
    fill: red;
}
.trainig-format .item-check{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    background: #FF0A33;
}
.trainig-format .item-check svg{
    width: 20px;
    height: 20px;
}
/* Стили для шагов формы */
/* Медиа cтили для шагов формы */
@media(max-width: 800px){
    .offer::before{
        background: url(../img/vectormobile.svg) no-repeat center;
        left: 0;
        right: 88px;
        width: 342px;
        bottom: -338px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .offer-inner{
        margin-top: 0;
        flex-direction: column;
        align-items: flex-start;
    }
    .offer-info{
        margin-bottom: 0;
        width: 100%;
    }
    .offer-info h1{
        font-size: 30px;
        line-height: 120%;
    }
    .offer-description{
        font-size: 16px;
        line-height: 100%;
    }
    .offer-image{
        right: 0;
        bottom: -85px;
        width: 261px;
        position: relative;
        margin: 0 auto;
        margin-top: -58px;
    }
    .step-form__wrapper{
        padding: 16px;
        border-radius: 15px;
    }
    .slide-indicators{
        padding: 16px;
        margin-bottom: 32px;
        border-radius: 15px;
    }
    .step-form .container{
        padding: 0;
    }
    .indicator-item{
        font-size: 14px;
    }
    .indicator-item{
        font-size: 14px;
        flex-direction: column;
    }
    .indicator-bullet{
        margin-right: 0;
    }
    .floor-items{
        margin-top: 16px;
    }
    .floor-item{
        border-radius: 15px;
    }
    .floor-item__img{
        border-radius: 4px;
    }
    .h2{
        margin-bottom: 32px;
    }
    .form-text{
        font-size: 22px;
    }
    .border-item{
        padding: 12px;
        min-width: fit-content;
        height: 44px;
        margin-bottom: 8px;
        margin-right: 8px;
    }
    .trainig-format{
        width: 100%;
    }
    .trainig-format .border-item{
        min-width: 100%;
        margin-right: 0;
    }
    .purposes{
        margin-top: 0;
        margin-bottom: 28px;
        justify-content: space-evenly;
    }
    .form-send{
        margin-top: 32px;
        padding-top: 28px;
        flex-wrap: wrap;
    }
    .button-step{
        padding: 12px;
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
    .step-prev{
        order: 1;
        margin-top: 12px;
    }
    .toggle-wrap{
        width: 100%;
    }
    .toggle{
        margin: 28px 0;
        padding: 16px;
    }

    .selects{
        width: 100%;
    }
    .indicator-line {
        top: -8px;
    }
}
/* Медиа cтили для шагов формы */